################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ePMS.Frontend/bin
/ePMS.Frontend/obj/Debug
/packages
/ePMS.Frontend/ePMS.Frontend.csproj.user
/ePMS.Frontend/.vs/ePMS.Frontend.csproj.dtbcache.json
/ePMS.Frontend/obj/Release
/ePMS.Frontend/Properties/PublishProfiles
