li.disabled {
    pointer-events: none; /* Disable click events */
    color: gray; /* Visual cue */
    cursor: not-allowed; /* Show "disabled" cursor */
    opacity: 0.6;
}

.outlines {
    top: 61px;
    left: 244px;
    border-width: 1px;
    padding: 16px;
    gap: 10px;
    border: 1px solid rgba(0, 119, 127, 0.3);
}

.property {
    font-family: Segoe UI;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 13.18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(84, 84, 84, 1) !important;
}

#lngeInput {
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    background-color: rgba(235, 237, 239, 0.7);
    color: rgba(0, 119, 127, 1);
}

.custom-input input {
    padding: 8px;
    border: 1px solid #ccc;
    width: 253px;
    height: 40px;
    border-width: 1px;
    padding: 16px;
    gap: 103px;
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(84, 84, 84, 1);
}

#names {
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    background-color: white;
    color: rgba(84, 84, 84, 1);
}

#bord {
    border-width: 1px;
    gap: 10px;
    padding: 16px;
    border: 1px solid rgba(0, 119, 127, 0.3);
}

.custom-input input {
    padding: 8px;
    border: 1px solid #ccc;
    width: 253px;
    height: 40px;
    border-width: 1px;
    padding: 16px;
    gap: 103px;
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(84, 84, 84, 1);
}

#name {
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    background-color: white;
    color: rgba(84, 84, 84, 1);
}

#out {
    width: 558;
    height: 186;
    border-width: 1px;
    gap: 10px;
    padding: 16px;
    border: 1px solid rgba(0, 119, 127, 0.3);
}

.prop {
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 16px;
    line-height: 13.18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(84, 84, 84, 1);
}

.adress {
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 16px;
    line-height: 13.18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(84, 84, 84, 1);
}

.area {
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 16px;
    line-height: 13.18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(84, 84, 84, 1);
}

.bha-mb-vc-select {
    position: relative;
    width: 250px;
    height: 36px;
}

.bha-mb-vc-box {
    border: 1px solid #ccc;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 176px;
    height: 38.5px;
    position: relative;
    margin-top: -4px;
    border-radius:0px;
}

.calendar-popup {
    display: none;
    position: absolute;    
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 350px;
    
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgba(80, 92, 109, 1);
}

    .calendar-header span {
        font-family: Segoe UI;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0%;
        color: rgba(80, 92, 109, 1);
    }

    .calendar-header .center-label {
        cursor: pointer;
        flex: 1;
        text-align: center;
        font-family: Segoe UI;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0%;
        color: rgba(80, 92, 109, 1);
    }

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 10px;
}

.month-grid,
.year-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
}

    .month-grid div,
    .year-grid div {
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 13px;
    }

        .month-grid div:hover,
        .year-grid div:hover {
            background-color: rgba(217, 240, 242, 1);
            color: #006666;
        }

.day-name {
    font-size: 12px;
    color: gray;
    padding: 5px 0;
}

.date {
    position: relative;
    padding: 8px 10px;
    border-radius: 4px;
    margin: 2px;
    cursor: pointer;
    font-family: Segoe UI;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
}

    .date:hover {
        background-color: rgba(217, 240, 242, 1);
        color: #006666;
        font-family: Segoe UI;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0%;
    }

.selected {
    background-color: #006666;
    color: white;
}

.footer {
    text-align: right;
    margin-top: 12px;
    cursor: pointer;
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
}

    .footer:hover {
        text-decoration: underline;
    }

.selected-date-input {
    border: none;
    outline: none;
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 11px !important;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgba(80, 92, 109, 1);
    width: 140px;
    cursor: pointer;
}

.date {
    position: relative;
    padding: 8px 10px;
    border-radius: 4px;
    margin: 2px;
    cursor: pointer;
    font-family: "Segoe UI";
    transition: background-color 0.2s;
}

    .date:hover {
        background-color: rgba(217, 240, 242, 1);
        color: #006666;
        font-weight: 600;
    }

        .date:hover::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border-bottom: 7px solid #006666;
            border-left: 7px solid transparent;
        }

.form-check-label {
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
}

.bha-labelX {
    font-family: Segoe UI;
    font-weight: 500;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(80, 92, 109, 1);
    padding: 3px;
}

.selector input:focus {
    box-shadow: none !important;
    outline: 0px !important;
    border: 1px solid rgba(7, 166, 177, 1);
}

.selector textarea:focus {
    box-shadow: none !important;
    outline: 0px !important;
    border: 1px solid rgba(7, 166, 177, 1);
}

.selector input {
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(80, 92, 109, 1);
}
/* check box */
.bha-check-f {
    margin-top: 10px;
}

    .bha-check-f input {
        border-radius: 2px !important;
    }

.checkbox {
    width: 13px !important;
    height: 13px !important;
}

.bha-check-f > b {
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #545454;
    margin-left: 5px;
}

.bha-check-f input:focus {
    box-shadow: none;
}

.bha-input {
    width: 255px;
    border-radius: 0px;
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(84, 84, 84, 1);
    margin-top: 10px;
}

    .bha-input.readonly {
        background-color: #e9ecef;
        color: rgba(0, 119, 127, 1);
        pointer-events: none;
        border: 1px solid #d3d3d3;
    }
.bha-labels::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1em;
    background: #e9ecef !important;    
    z-index: -100000;
    transform: translateY(0);
}
.selector:has(.bha-input.readonly) .bha-label::before {
    content: '';
    position: absolute;
    top: 69%;
    left: 0;
    right: 0;
    height: 0.5rem;
    background: #e9ecef !important;
    z-index: -100000;
    transform: translateY(0);
}

.btn-green {
    background-color: #00777F;
    color: white;
    Padding: 8px 16px 8px 8px;
    font-size: 13.5px;
    cursor: pointer;
    border: none;
    font-weight: 400;
    min-width: 100px;
}

    .btn-green:hover {
        background-color: #008b99;
    }

.btn-bha-default {
    Padding: 8px 16px 8px 16px;
    font-size: 13.5px;
    cursor: pointer;
    /* border: none; */
    font-weight: 400;
    border-radius: 0;    
}

.border-right {
    border-right: 1px solid #00777F4D !important;
}

/*input with Search Icon*/
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
/*input with Search Icon*/
.cursor-pointer {
    cursor: pointer;
}

.bg-transparent {
    background-color: transparent;
}
.bg-gray {
    background-color: #F6F7F8 !important;
}
/*Menubar buttons hover*/
.btn-bha-hover:hover {
    background-color: #e4f7fa;
}
.content-base-line {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.margin-top-0{
    margin-top:0 !important;
}
.w-5 {
    width: 5% !important;
}
.w-10{
    width: 10% !important;
}
.w-15 {
    width: 15% !important;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30% !important;
}
.w-35 {
    width: 35% !important;
}
.w-40 {
    width: 40% !important;
}
.w-60 {
    width: 60% !important;
}
.w-65 {
    width: 65% !important;
}
.lh-18px{
    line-height:18px !important;
}