

/* Breadcrumb design start*/


/* Breadcrumb design end*/


/* form and tab */




/* Property Detail start */
.info-panel { /* info-panel*/
    border: 1.5px solid #00777F4D;
    border-width: 1.5px;
    margin: 0px 15px 0 16px;
    padding: 14.50px 14px 0 17.50px;
}

.info-panel-title {
    color: #545454;
    margin-left: -2px;
    margin-bottom: 24px;
}

.row-group-with-3feild {
    display: flex;
    flex-wrap: wrap;
    column-gap: 55px;
    row-gap: 24px;
    margin-bottom: 14px;
}
/* info-field*/
.info-field {
    flex: 0 0 30%;
    height: 34px;
    border-bottom: 0.97px solid #D3DBE1;
}

.feild-label {
    font-weight: 600;
    font-size: 14px;
    color: #212121;
    white-space: nowrap;
    /*width: 180px;*/
    width: 35% !important;
    padding: 10px 0 10px 13px;
    line-height: 100%;
    vertical-align: middle;
    margin: -3px 0 0 -2px;
}

.required {
    color: #c40000;
    margin-left: 0.5px;
}

.colon {
    color: #212121;
    margin-left: 3px;
}

.feild-input {
    flex: 1;
    border: none;
    background: transparent;
    font-weight: 400;
    font-size: 14px;
    color: #212121;
    /*width: 130px;*/
    width:63% !important;
    height: 34px;
    padding: 7.25px 0 10px 8px;
}

.address-area-panel {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin: 19.75px 15px 0 16px;
    flex-wrap: wrap;
}

.address-area-sections {
    border: 1.5px solid #00777F4D;
    flex: 1 1 48%;
    padding: 14.50px 0 14.50px 17.50px;
    box-sizing: border-box;
}

    .address-area-sections h6 {
        font-family: 'Segoe UI', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #545454;
    }

.address-row-group,
.area-row-group,
.availability-row-group,
.landloard-row-group {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 526px;
    margin-top: 25px;
    gap: 8px;
}

.address-row,
.availability-row,
.landloard-row,
.area-row{
    display: flex;
    align-items: center;
    width: 526px;
    height: 34px;
    border-bottom: 0.97px solid #D3DBE1
}

.area-label,
.address-label,
.availability-label,
.landloard-label {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #212121;
    /*width: 300px;*/
    width:41% !important;
    padding-left: 13px;
    margin-top: 1px
}

.area-value,
.address-value,
.availability-value,
.landloard-value {
    all: unset;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    color: #212121;
    text-align: left;
    margin-left: -16px;
    position: relative;
    margin-top: 1px;
    width:52% !important;
}

.availability-landloard-panel {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin: 19.75px 15px 0 16px;
    flex-wrap: wrap;
}

.availability-landloard-section {
    height: 276px;
    border: 1.5px solid #00777F4D;
    flex: 1 1 48%;
    padding: 15.5px 0px 0px 15.5px;
    box-sizing: border-box;
}

    .availability-landloard-section h6 {
        font-family: 'Segoe UI', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #545454;
    }

.features-description-panel {
    border-width: 1px;
    padding: 16px 16px 24px 16px;
    border: 1px solid #00777F4D;
    margin: 19.75px 15px 10px 16px;
}

    .features-description-panel h6 {
        font-family: 'Segoe UI', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #545454;
        margin-bottom:20px;
    }

/*   Location section start*/

#locationSection {
    display: none;
}

.location-neighbour-panel {
    display: flex;
    border: 1px solid #00777F4D;
    height: 412px;
    padding: 15px 16px 16px 16px;
    margin: 0px 23px 0px 16px;
}
.left-section {
    border-right: 1px solid #00777F4D;
    padding-right: 10px;
}

.left-section h6 {
    font-size: 16px;
    color: #545454;
}

.input-group {
    margin: 30px 20px 20px 3.50px;
}

.input-box1 {
    display: flex;
    padding: 9px 9.50px;
    height: 40px;
    width: 290.50px;
    border: 0.97px solid #D3DBE1
}

.input-box2,
.input-box3{
    display: flex;
    padding: 9px 9.50px;
    height: 40px;
    width: 290px;
    border: 0.97px solid #D3DBE1;
    margin-top: 15px
}

.left-section-label {
    padding-bottom: 10px;
    padding-left: 3px;
    font-weight: 600;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: #212121;
    flex: 0 0 130px; /* Adjust to fit max expected label text */
    white-space: nowrap;
    height: 34px;
}

.left-section-value {
    all: unset;
    font-weight: 400;
    font-size: 14px;
    color: #212121;
    flex:1;
    padding-left: 12px;
}


.view-map-btn {
    background-color: #00777F;
    color: white;
    Padding: 10px 16px 10px 12px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 60px;
    float: right;
    margin-right: 20px;
}

    .view-map-btn i {
        margin-right: 8px;
    }

/*.left-section .right-border {
    border-right: 1px solid #00777F4D;
    height: 353px;
    margin-top: -180px;
    margin-right: -9px;
}*/

.right-section {
    height: 353px;
    padding-left: 24px;
    margin: 13px 0px 0px 8px;
}

.right-section-border {
    width: 735px;
    height: 353px;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #00777F33;
}

.right-section-header {
    display: flex;
    align-items: center;
    background: linear-gradient(95.51deg, #139DA6 24.45%, #046F76 51.98%, rgba(8, 17, 24, 0.95) 157.4%);
    padding: 16px 0px 10px 16px;
    color: white;
    box-shadow: 0px 4px 10px 0px #00000040;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-width: 1px;
    gap: 10px;
}

.right-section-icon-circle {
    width: 32px;
    height: 32px;
    border: 1px solid #23ABB1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 14px;
    color: #FFFFFF;
}

.right-section-header span {
    font-weight: 600;
    font-size: 15.5px;
}

.right-section-location-body {
    display: flex;
    padding: 23px 0px 0px 18px;
    height: 252px;
    gap: 32px;
}

.map-image {
    width: 421px;
    height: 252px;
    border-radius: 10px;
    border: 1px solid #d0d7dd;
}

.right-section-info-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 27px 0px 0px 5px;
}

    .right-section-info-list div {
        font-size: 15px;
        line-height: 144%;
        color: #666666;
    }

    .right-section-info-list span {
        color: #001F1C;
        float: right;
        margin-left: 58px;
    }

    .right-section-info-list i {
        color: #00777F;
        margin-right: 10px;
    }
/*  makani-map-tab-start*/
.makani-map-panel {
    margin: 0px 15px 20px 16px;
}

.location-coordinates-section {
    border: 1px solid #BCD5D7;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    box-sizing: border-box;
    padding: 18px 15px 15px 15px;
}

.section-title {
    margin-bottom: 25.75px;
    color: #545454;
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 16px;
    line-height: 13.18px;
    vertical-align: middle;
}

.coordinates-header {
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
    margin-left: 4.50px;
}

.coordinate-field {
    border: 0.97px solid #D3DBE1;
    padding: 8px 25px 8px 12px;
    display: flex;
    align-items: center;
    width: 289.75px;
    height: 40px;
}
.coordinate-button {
    display: flex;
    align-items: center;
    background-color: #00777F!important;
    color: white!important;
    font-size: 14px;
    border:none!important;
}

.coordinate-field label {
    color: #212121;
    font-weight: 600;
    font-size: 14px;
    width: 140px;
    flex-shrink: 0;
}

    .coordinate-field input {
        all: unset;
        flex: 1; 
        color: #212121;
        font-weight: 450;
        min-width: 0;
    }





.makani-detail-section {
    border: 1px solid #BCD5D7;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    box-sizing: border-box;
    padding: 15px 15px 0px 15.50px;
    margin-top: 24px;
    box-shadow: 0px 0.78px 2.35px 0px #00000026;
}


    .makani-detail-section .coordinates-header {
        margin-left: 0;
    }

.makani-detail-fields {
    display: flex;
    flex-wrap: wrap;
    column-gap: 55px;
    row-gap: 24px;
    margin-bottom: 14px;
}

/* makani-map-tab-end*/

/* picture & videos start*/
.picture-videos-panel {
    margin: 0px 15px 20px 16px;
}

.picture-attachments-section {
    border: 1px solid #BCD5D7;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    box-sizing: border-box;
    padding: 15px 15.50px 15px 15px;
}

.video-attachments-section {
    margin-top: 20px;
    border: 1px solid #BCD5D7;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    box-sizing: border-box;
    padding: 15px 15.50px 15px 15px;
}
/* picture & videos end*/
.row-group-with-2feild {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 25px;
    margin-bottom: 14px;
}

    .row-group-with-2feild .row-field {
        display: flex;
        align-items: center;
        flex: 0 0 calc(50% - 15px);
        border-bottom: 0.97px solid #D3DBE1;
        overflow: hidden;
    }

        .row-group-with-2feild .row-field label {
            white-space: nowrap;
            font-weight: 600;
            font-size: 14px;
            color: #212121;
            padding: 10px 0 10px 13px;
            margin: -3px 0 0 -2px;
            color: #212121;
        }

        .row-group-with-2feild .row-field input {
            flex: 1;
            min-width: 0;
            border: none;
            background: transparent;
            font-weight: 400;
            font-size: 14px;
            color: #212121;
            height: 34px;
            padding: 7.25px 0 10px 8px;
            overflow: auto;
            text-overflow: ellipsis; /* if needed */
            white-space: nowrap; /* prevent wrapping */
        }
.mt-19 {
    margin-top: 19px;
}

/*Accordion Css*/
.bha-accordion-wrapper {
    max-width: 100%;
    padding: 25px 20px;
}

.bha-accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    gap: 16px;
}


    .bha-accordion-header.active {
        background-color: #eff7f8;
    }

.bha-accordion-toggle {
    background: #AFDCDF80;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #046F76;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.bha-accordion-content {
    background-color: #fff;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.3s ease;
}

    .bha-accordion-content.collapsing {
        transition: none;
    }

.bha-accordion-table-wrapper {
    margin-top: 20px;
    width: calc(100% );
}

.bha-accordion-table {
    width: 100%;
    box-shadow: 0px 8px 7px 0px #2121211A;
    /*border: 1px solid #00777F1A;*/
    overflow: hidden;
}

    .bha-accordion-table th {
        background: #F6F7F8;
        color: #505C6D;
        border-bottom: 0.78px solid #D3D6DA;
        padding: 23.41px 12.55px 9.41px 12.55px;
        font-family: Segoe UI;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        /*text-align: center;*/
    }

    .bha-accordion-table td {
        background: #F6F7F8;
        padding: 12.41px 12.55px 9.41px 12.55px;
        border-top: 0.8px solid #D3D6DA;
        border-bottom: 0.8px solid #D3D6DA;
        font-family: Segoe UI;
        font-weight: 400;
        font-size: 13px;
        line-height: 100%;
        /*text-align: center;*/
    }

.bha-accordion-icon-eye {
    color: #c9b000;
}
/*Accordion Css End*/
.info-block > .col-12 {
    Padding: 10px 12px;
    border-bottom: 1px solid #D3DBE1;
}