
.tab-row{
    border-bottom: 1px solid #D0D3D7;
    padding-bottom: 5px;
    margin: 0px 3px 10px 3px;
}
.tab-row-vouchers {
    border-bottom: 1px solid #D0D3D7;
    padding-bottom: 5px;
    margin: -26px 15px 27px -1px;
}
/* Style the tab */
.tab-item {
  overflow: hidden;
background-color: white;

}

/* Style the buttons inside the tab */
.tab-item button {
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 13px 6px 13px; 
  transition: 0.3s;
font-family: Segoe UI;
font-weight: 400;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #545454;

}
.tab-item button.active {
 color: #00777F;
 border-bottom: 2px solid #00777F;
 margin-top: -10px;
}

/* Style the tab content */
.hide-tab{
  display: none;
}
.tabcontent-area {

  border-top: none;
    border: 1px solid #00777F4D;
}
.tabcontent-areaa {
    border-top: none;
   
}
.svg-dow{
    margin-right: 10px;
    margin-top: 14px;
    width: 18px;
    height: 18px;
}
  
 .outer-b{

  padding: 16px;
  margin: 0px;
  width: 100%;
 }
 .table-toprow{
  padding: 0px;
  margin: 10px 0px;
 }
 .table-toprow b{
  font-family: Segoe UI;
font-weight: 600;
font-size: 16px;
line-height: 13.18px;
letter-spacing: 0%;
color: #545454;
padding: 0px;
margin: 0px;
 }
